@import url("./fonts.css");
$wt: #fff;
$bl: #000;
$grey: #777;
$greybg: #f9f9ff;
$iconbg: #111;
$bdc: #eee;
$blue: #8a90ff;
$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$gradient: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
$Abel: "Abel", cursive;
// GLOBAL

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Anton, cursive;
}

.text-title {
  font: normal 700 70px/70px $Abel;
}

.para {
  font-family: $Abel;
  font: normal 500 20px/25px $Abel;
}

.btn {
  background: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 1px black solid;
  color: black;
  padding: 0.7rem 2rem;
  background-clip: padding-box;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
  transition: background 1s ease, border 0.6s ease;
  position: relative;
  &:hover {
    background: transparent;
    background-clip: padding-box;
    color: white;
    border: 1px white solid;
  }
}

.btn-secondary:hover {
  background: $gradient;
}

.btn-third {
  background: $gradient;
}

// END GLOBAL

nav {
  width: 100%;
  max-height: 10vh;
  position: absolute;
  top: 0;
  background-color: $grey;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
    .nav-links {
      a {
        color: white;
        margin-left: 3rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.bg-site {
  width: 100%;
  background: url("../img/banner-bg.jpg") no-repeat;
  height: 100vh;
  display: flex;
  .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0rem 14rem;

    .site-title span {
      display: block;
    }
    .site-title h1 {
      color: white;
    }
    .site-title p {
      color: white;
    }
    .site-title a {
      margin-top: 2rem;
    }
  }
}

.products {
  padding: 1rem 6rem;
  width: 100%;
  .title {
    text-align: center;
    h3 {
      font-size: 50px;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;

    .card {
      &:hover {
        box-shadow: $boxshadow;
      }
      padding: 1rem 2rem;
      width: 100%;
      max-width: 23%;
      background: #f9f9ff;
      .product-text {
        text-align: center;
        padding: 2rem 2rem;
        p {
          margin: 1rem 0rem;
        }
        a:hover {
          background: $gradient;
        }
      }
      .product-image {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.connected {
  .first-card {
    width: 100%;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bg-connect {
      height: 70vh;
      background: url("../img/about-img.png") no-repeat;
      width: 100%;
      max-width: 50%;
    }
    .title-connect {
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      .we-para {
        margin-top: 2rem;
        margin-bottom: 0rem;
      }
      p {
        margin: 2rem 0rem;
      }
    }
    &.second {
      width: 100%;
      margin: 0 auto;

      max-width: 1100px;
      flex-direction: row-reverse !important;
      .bg-connect {
        background: url("../img/video-bg.jpg") no-repeat center/cover;
        position: relative;
        display: flex;
        max-width: 50%;
        height: 380px;
        .overlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $gradient;
          opacity: 0.7;
        }
        i {
          color: white;
          margin: auto;
          font-size: 70px;
          z-index: 2;
          cursor: pointer;
        }
      }
      .title-connect {
        max-width: 50%;
        h1 {
          font: normal 700 50px/70px $Abel;
        }
        .gradient {
          color: $blue;
        }
      }
    }
  }
}

.features {
  padding: 100px 0;
  width: 100%;
  background: url("../img/feature-bg.jpg") no-repeat center/cover;
  .features-title {
    text-align: center;
    color: white;
    h3 {
      font-size: 50px;
    }
  }
  .container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 4rem;
    .card {
      border-radius: 8px;
      padding: 40px 30px;
      margin: 2rem 1rem;
      background: white;
      width: 100%;
      max-width: 31%;
      display: flex;
      cursor: pointer;
      flex-direction: column;

      .card-title {
        transition: color 0.7s ease;
        display: flex;
        align-items: center;
        h3 {
          margin-left: 1rem;
        }
        &:hover {
          color: $blue;
        }
      }
      p {
        margin-top: 1rem;
        color: grey;
      }
    }
  }
}

.brands {
  padding: 3rem 3rem;
  width: 100%;
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;

    .brand {
      img {
        transition: filter 0.6s ease;
        filter: brightness(0);
      }
      &:hover {
        img {
          filter: brightness(1);
        }
      }
    }
  }
}

.latest-news {
  width: 100%;
  padding: 2rem 3rem;
  .news-title {
    padding: 2rem 2rem;
    text-align: center;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    .news {
      width: 100%;
      max-width: 48%;
      .news-image {
        width: 100%;
        height: 340px;
        background: url("../img/b1.jpg") no-repeat center/cover;
        border-radius: 14px;
        &.second {
          background: url("../img/b2.jpg") no-repeat center/cover;
        }
      }
      .news-buttons {
        padding: 1rem 0;
      }
      .news-text {
        padding: 1rem 0;
        p {
          margin: 1rem 0;
        }
      }
    }
  }
}

.footer {
  padding: 4rem 3rem;
  width: 100%;
  background: url("../img/footer-bg.jpg");
  color: white;
  .container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .top-products li {
      margin-top: 0.4rem;
      list-style-type: none;
    }
    .news-letter {
      p {
        margin: 1rem 0;
      }
      .input-group {
        display: flex;
        justify-content: space-between;
        input {
          padding: 0.7rem 2rem;
          &::placeholder {
            color: black;
          }
        }
      }
    }
    .instagram {
      .insta {
        margin: 0.4rem 0.5rem;
      }
    }
  }
  .copy-right {
    margin-top: 2rem;
    text-align: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
