@import url("./fonts.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Anton, cursive;
}

.text-title {
  font: normal 700 70px/70px "Abel", cursive;
}

.para {
  font-family: "Abel", cursive;
  font: normal 500 20px/25px "Abel", cursive;
}

.btn {
  background: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 1px black solid;
  color: black;
  padding: 0.7rem 2rem;
  background-clip: padding-box;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
  transition: background 1s ease, border 0.6s ease;
  position: relative;
}
.btn:hover {
  background: transparent;
  background-clip: padding-box;
  color: white;
  border: 1px white solid;
}

.btn-secondary:hover {
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}

.btn-third {
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}

nav {
  width: 100%;
  max-height: 10vh;
  position: absolute;
  top: 0;
  background-color: #777;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;
}
nav .container .nav-links a {
  color: white;
  margin-left: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.bg-site {
  width: 100%;
  background: url("../img/banner-bg.jpg") no-repeat;
  height: 100vh;
  display: flex;
}
.bg-site .container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin: 0rem 14rem;
}
.bg-site .container .site-title span {
  display: block;
}
.bg-site .container .site-title h1 {
  color: white;
}
.bg-site .container .site-title p {
  color: white;
}
.bg-site .container .site-title a {
  margin-top: 2rem;
}

.products {
  padding: 1rem 6rem;
  width: 100%;
}
.products .title {
  text-align: center;
}
.products .title h3 {
  font-size: 50px;
}
.products .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.products .container .card {
  padding: 1rem 2rem;
  width: 100%;
  max-width: 23%;
  background: #f9f9ff;
}
.products .container .card:hover {
  box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
}
.products .container .card .product-text {
  text-align: center;
  padding: 2rem 2rem;
}
.products .container .card .product-text p {
  margin: 1rem 0rem;
}
.products .container .card .product-text a:hover {
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
.products .container .card .product-image {
  display: flex;
  justify-content: center;
}

.connected .first-card {
  width: 100%;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connected .first-card .bg-connect {
  height: 70vh;
  background: url("../img/about-img.png") no-repeat;
  width: 100%;
  max-width: 50%;
}
.connected .first-card .title-connect {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.connected .first-card .title-connect .we-para {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.connected .first-card .title-connect p {
  margin: 2rem 0rem;
}
.connected .first-card.second {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  flex-direction: row-reverse !important;
}
.connected .first-card.second .bg-connect {
  background: url("../img/video-bg.jpg") no-repeat center/cover;
  position: relative;
  display: flex;
  max-width: 50%;
  height: 380px;
}
.connected .first-card.second .bg-connect .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  opacity: 0.7;
}
.connected .first-card.second .bg-connect i {
  color: white;
  margin: auto;
  font-size: 70px;
  z-index: 2;
  cursor: pointer;
}
.connected .first-card.second .title-connect {
  max-width: 50%;
}
.connected .first-card.second .title-connect h1 {
  font: normal 700 50px/70px "Abel", cursive;
}
.connected .first-card.second .title-connect .gradient {
  color: #8a90ff;
}

.features {
  padding: 100px 0;
  width: 100%;
  background: url("../img/feature-bg.jpg") no-repeat center/cover;
}
.features .features-title {
  text-align: center;
  color: white;
}
.features .features-title h3 {
  font-size: 50px;
}
.features .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.features .container .card {
  border-radius: 8px;
  padding: 40px 30px;
  margin: 2rem 1rem;
  background: white;
  width: 100%;
  max-width: 31%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
.features .container .card .card-title {
  transition: color 0.7s ease;
  display: flex;
  align-items: center;
}
.features .container .card .card-title h3 {
  margin-left: 1rem;
}
.features .container .card .card-title:hover {
  color: #8a90ff;
}
.features .container .card p {
  margin-top: 1rem;
  color: grey;
}

.brands {
  padding: 3rem 3rem;
  width: 100%;
}
.brands .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
}
.brands .container .brand img {
  transition: filter 0.6s ease;
  filter: brightness(0);
}
.brands .container .brand:hover img {
  filter: brightness(1);
}

.latest-news {
  width: 100%;
  padding: 2rem 3rem;
}
.latest-news .news-title {
  padding: 2rem 2rem;
  text-align: center;
}
.latest-news .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
.latest-news .container .news {
  width: 100%;
  max-width: 48%;
}
.latest-news .container .news .news-image {
  width: 100%;
  height: 340px;
  background: url("../img/b1.jpg") no-repeat center/cover;
  border-radius: 14px;
}
.latest-news .container .news .news-image.second {
  background: url("../img/b2.jpg") no-repeat center/cover;
}
.latest-news .container .news .news-buttons {
  padding: 1rem 0;
}
.latest-news .container .news .news-text {
  padding: 1rem 0;
}
.latest-news .container .news .news-text p {
  margin: 1rem 0;
}

.footer {
  padding: 4rem 3rem;
  width: 100%;
  background: url("../img/footer-bg.jpg");
  color: white;
}
.footer .container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .container .top-products li {
  margin-top: 0.4rem;
  list-style-type: none;
}
.footer .container .news-letter p {
  margin: 1rem 0;
}
.footer .container .news-letter .input-group {
  display: flex;
  justify-content: space-between;
}
.footer .container .news-letter .input-group input {
  padding: 0.7rem 2rem;
}
.footer .container .news-letter .input-group input::placeholder {
  color: black;
}
.footer .container .instagram .insta {
  margin: 0.4rem 0.5rem;
}
.footer .copy-right {
  margin-top: 2rem;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
